Config { overrideRedirect = False
       , font     = "xft:iosevka-9"
       , bgColor  = "#002b36"
       , fgColor  = "#fdf6e3"
       , position = TopSize L 100 24
       , commands = [ Run Date "<fc=#8be9fd>%H:%M</fc>" "date" 10
                    -- Penguin Icon
                    , Run Com "echo" ["<fn=3>\xf17c</fn>"] "penguin" 3600
                    -- Kernel info
                    , Run Com ".local/bin/kernel" [] "kernel" 36000
                    , Run XMonadLog
                    , Run Com ".config/xmonad/trayer-padding-icon.sh" [] "trayerpad" 20
                    ]
       , sepChar  = "%"
       , alignSep = "}{"
       , template = "%XMonadLog% }{  %date% %trayerpad%"
       }

